body, html {
    margin:0;
    padding:15px 40px 40px 40px;
    font-family:Arial,sans-serif;
    background-image: url("./scene.jpg");
    background-size: cover;
    /* opacity: 0.9; */
    /* color:#f1f1f1; */
    background-repeat: repeat;
}
.container h1{
    padding-bottom: 50px;
    color: white;
    font-size: 45px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.container2{
    justify-content: center;
    padding-bottom: 50px;
}
#main {
    position:relative;
    width:940px;
    padding:20px;
    margin:auto;
}
#left {
    position:relative;
    float:left;
    width:260px;
    padding:10px;
    margin-right:10px;
    border-right:3px solid #7A91A1;
    background-color:#E8E0FF;
}
.half {
    position:relative;
    display:inline-block;
    width:49%;
}
#original {
    vertical-align:top;
}
#messageArea {
    width:100%;
}
.btns {
    margin-top:15px;
    margin-bottom:10px;
    padding: 0 40px;
}
.btn-head{
    color: chartreuse;
}

.description p{
    color: white;
    padding-bottom: 70px;
    /* line-height:25px;
    padding-bottom:5px;
    border-bottom:1px solid rgb(207, 195, 195); */
}
#capacity {
    font-weight:normal;
    font-size:15px;
}
.note {
    font-size:9px;
    text-align:center;
    color:black;
}
.invisible {
    visibility:hidden;
}
.clear {
    clear:both;
}
.footer {
    margin-top:25px;
    width:100%;
    text-align:right;
}
textarea{
    padding:10px;
    height:200px;
    width:100%;
}
h2{
    margin-top:0;
}

.card {
    padding-right: 20px;
    width: 350px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(168, 22, 22, 0.1);
    overflow: hidden;
    background-color: rgb(98, 58, 83);
    display: inline-block;
    justify-content: space-between;
    margin: 40px;
}
.card img {
    width: 100%;
    height: auto;
}

.card-content {
    padding: 20px;
}
.cards{
    align-items: center;
    display: flex;
    justify-content: center;
    width: 300px;
    padding-right: 20px;
    padding-bottom: 10px;
}
#stego h2{
    color: white;
}